.templateWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100vw;
  height: 320px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.templateItem {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  cursor: pointer;
}
